# Copy this to a `.env` file and edit as needed
FLASK_APP=run.py
FLASK_ENV=development
DB_NAME=pgmanagement
DB_USER=pguser
DB_PASSWORD=pgpassword
DB_HOST=localhost
DB_PORT=5432


# Email Configuration (SMTP)
MAIL_SERVER= server address of your email provider (e.g., smtp.gmail.com for Gmail)
MAIL_PORT= port number for the SMTP server (e.g., 587 for Gmail)
MAIL_USERNAME=your email address (e.g., johndoe@gmail.com for Gmail)
# INSTRUCTION: Generate an App Password from Google Account > Security
MAIL_PASSWORD=your email password or app password (if using Gmail with 2FA)
