[build]
  command = "npm run build:css"
  functions = "netlify/functions"
  publish = "app/static"

[[redirects]]
  from = "/static/*"
  to = "/static/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true
